
* {
	margin: 0;
}

body {
	font-family: "Segoe UI";
	box-sizing: border-box;
	background: #18191a;
	overflow-x: hidden;
}

.navbar {
  background: #242526;
  width: 100vw;
  padding: 0 20px 0 20px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 2px -2px rgba(255, 255, 255, 0.4);
}

.navbar-left {
	width: 25%;
	display: flex;
	align-items: center;
}

.hifriend-logo {
	width: 45px;
	height: 45px;
	margin-right: 5px;
	border-radius: 50%;
}

.input-icon i {
	position: absolute;

}

.input-icon {
	width: 100%;
}

.fa-search {
	padding: 12px 10px;
	color: #a8abaf;
	min-width: 15px;
	text-align: center;
	margin-right: 20px;
}

.input-field {
	width: 75%;
	padding: 12px 0 12px 35px;
	background: #3a3b3c;
	border: none;
	border-radius: 25px;
	font-size: 15px;
	color: #a8abaf;
}

.input-field:focus {
	outline: none;
}

::placeholder {
	color: #a8abaf;
}

.navbar-center {
	width: 40%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar-center a {
	width: 150px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.2s;
}

.navbar-center a:hover {
	background: #3a3b3c;
	border-radius: 10px;
	height: 55px;
	border: none;
} 

.active-icon {
	color: #006eff !important;
	border-radius: 25px;
	padding: 0 5px;	
}

.navbar a, 
.navbar a i {
	text-decoration: none;
	color: #b8bbbf;
	font-size: 23px;
}

.navbar-right {
  width: 25%;
	text-align: right;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 45px;
} 

.navbar-right-profile {
	display: flex;
	align-items: center;
	margin-right: 20px;
	background: #003780;
	border-radius: 12px;
	height: 30px;
}

.navbar-right-profile:hover {
	background: #002c66;
	border-radius: 25px;
	padding: 0 5px;	
}

.navbar-right-profile img {
	width: 30px;
	height: 30px;
	margin-right: 5px;
}

.navbar-right-profile span {
	color: #e7e9ed;
	font-size: 15px;
	font-weight: 500;
}

.navbar-right-links i {
	margin-right: 5px;
	background: #404041;
	padding: 12px;
	border-radius: 100%;
	color: #e7e9ed;
	cursor: pointer;
	transition: 0.3s;
	font-size: 16px;
}

.navbar-right-links i:hover {
	background: #4e4f50;
} 

.content {
	display: flex;
	justify-content: center;
	align-items: center;
}

.content-center {
  width: 100%;
  text-align: center;
  margin: 2px 0;
  height: 72.3vh;
  background-color: #242526;
}

.cover-photo {
  position: relative;
  width: 68%;
  margin: 1px 220px;
  height: 48.3vh;
  background-color: #18191a;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.cover-photo span {
	position: absolute;
	border: 1px solid #ffff;
	background: #ffff;
	border-radius: 6px;
	padding: 3px 10px;
	top: 285px;
	left: 730px;
}

.cover-photo span:hover {
	cursor: pointer;
}

.profile-user {
	position: relative;
}

.fullName {
  position: absolute;
  padding: 26px 0;
  top: -10px;
  left: 580px;
  width: 210px;
  height: 3px;
  color: #e7e9ed;
  font-size: 28px;
  font-weight: 700;
}

.bio {
  position: absolute;
  padding: 26px 0;
  top: 30px;
  left: 580px;
  width: 210px;
  height: 3px;
  color: #2d88ff;
  font-size: 18px;
  font-weight: 500;
}

.profile-user [class="profile-circle"]{
  position: absolute;
  width: 157px;
  height: 157px;
  top: -148px;
  left: 605px;
  border-radius: 50%;
  border: 4px solid #242526;
}

.content-center hr {
	position: absolute;
	border-style: solid;
	border-color: rgba(255,255,255,255,0.08);
	border-width: 1px;
  	color: #3a3b3c;	
  	width: 64%;
  	top: 490px; 
  	left: 240px;
}

.buttons {
  width: 64vw;
  margin: 110px 233px;
  padding: 0 10px 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: #a8abaf;
}

.active {
	color: #2d88ff !important;
}

.camera{
  position: absolute;
  z-index: 1000;
  width: 32px;
  height: 32px;
  top: -40px;
  margin: 0 730px;
  border-radius: 50%;
  background: #3a3b3c;
  border: 4px solid #3a3b3c;
  color: #a8abaf;
  font-size: 20px;
}

.camera:hover {
	background: #4e4f50;
	border: 4px solid #4e4f50;
	cursor: pointer;
}

.button-box span{
	background: #3a3b3c;
	border-radius: 8px;
	width: 5px;
	padding: 5px 15px;
}

.button-box .add-to-story {
	background: #1a7dff;
}

.button-box span:hover {
	background: #4e4f50;
	cursor: pointer;
}

.button-box .add-to-story:hover {
	background: #338bff;
}

